@page "/counter"
@using Havit.Blazor
@using Havit.Blazor.Components.Web
@using Havit.Blazor.Components.Web.Bootstrap
<h1>Counter</h1>





@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }


}






